<div class="yzs-footer-pannel">
		<div class="yzs-footer">
			<div class="yzs-footer-info">
				<div>
					<ul>采购新手
						<li>免费注册</li>
						<li>实名认证</li>
						<li>如何找货</li>
					</ul>
				</div>
				<div>
					<ul>我要采购
						<li>如何下单</li>
						<li>如何支付</li>
						<li>如何订购</li>
					</ul>
				</div>
				<div>
					<ul>入驻协议
						<li>法律说明</li>
						<li>服务条款</li>
						<li>隐私声明</li>
					</ul>
				</div>
				<div>
					<ul>关于我们
						<li>网站介绍</li>
						<li>荣誉资质</li>
						<li></li>
					</ul>
				</div>
				<div>
					<ul>投诉建议
						<li>意见反馈</li>
						<li>客服中心</li>
						<li></li>
					</ul>
				</div>
				<div>
					<ul>供货合作
						<li>如何入驻</li>
						<li>如何供货</li>
						<li>如何收款</li>
					</ul>
				</div>
				<div></div>
			</div>
			<div class="yzs-footer-copyright">
				<div>Copyright&copyright;2015 www.ezaisheng.com Inc. All rights reserved<br/>
					京ICP证161025号 | 京ICP备15001001号 | 易再生网
				</div>
				<div>
					<img src="$!webPath/resources/style/shop/default/img/c1.png"/>
					<img src="$!webPath/resources/style/shop/default/img/c2.png"/>
					<img src="$!webPath/resources/style/shop/default/img/c3.png"/>
					<img src="$!webPath/resources/style/shop/default/img/c4.png"/>
					<img src="$!webPath/resources/style/shop/default/img/c5.png"/>
				</div>
			</div>
		</div>
	</div>