<!doctype html>
<html lang="zh-Hans">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>易再生-中国再生资源交易平台</title>
    <link rel="stylesheet" href="$!webPath/resources/style/shop/default/css/yzs.css?v=1" />
    <script src="$!webPath/resources/js/jquery-1.9.1.min.js"></script>
    <script src="$!webPath/resources/js/vue.min.js"></script>
    <script>
		$(function(){
			$(".yzs-help-left-ul div").click(function(){
				$(".yzs-help-left-ul li").removeClass("yzs-help-left-ul-li-sel");
				$(this).parent().addClass("yzs-help-left-ul-li-sel");
				$(".yzs-help-left-ul li ul").css("display","none");
				$(this).parent("li").children("ul").css("display","block");
			});
			$(".yzs-help-left-ul li ul li").click(function(){
				$(".yzs-help-left-ul li ul li").removeClass("yzs-help-left-ul-li-ul-li-sel");
				$(this).addClass("yzs-help-left-ul-li-ul-li-sel");
			});
		});
		var ecid;
		function getSubstance(id,page){
			ecid=id;
			jQuery.ajax({
				url : "$!webPath/helpCenterContent.htm",
				data : {
					"id":id,
					"currentPage":page
				},
				type : "POST",
				dataType : "html",
				error : function() {
					return false;
				},
				success : function(data) {
					jQuery("#showBody").empty();
					jQuery("#showBody").html(data);					 
				}
		    });
		}
		
		function gotoPage(page){
			 getSubstance(ecid,page);
		}
		function getContent(id){
			//文章的id
			 jQuery.post('$!webPath/helpCenterDetailed.htm',{"id":id},function(data){
			 jQuery("#showBody").empty();
			 jQuery("#showBody").html(data);
		    },"text");
		}
    </script>
</head>
<body>
	 $!httpInclude.include("/top.htm")
     $!httpInclude.include("/head.htm")
	<div class="yzs-location-panner">
		<div class="yzs-location">首页 &gt;  帮助中心</div>
	</div>
	
	<div class="yzs-container-pannel">
		<div class="yzs-container">
			<div class="blank5"></div>
			<div class="yzs-help-box">
				<div class="yzs-help-left">
					<div class="yzs-help-left-title">帮助中心</div>
					<div class="yzs-help-left-menu">
						<ul class="yzs-help-left-ul">
							<li><div>$!ezsColumn0.name</div>
							    <ul>
                                     #foreach ($ezs in $ezss0)
									<li class="yzs-help-left-ul-li-ul-li-sel" onclick="getSubstance($!ezs.id,'');">$!ezs.name</li>
								     #end
								</ul>
							
							</li>
							<li class="yzs-help-left-ul-li-sel">
								<div>$!ezsColumn1.name</div>
								<ul>
                                     #foreach ($ezs in $ezss1)
									<li class="yzs-help-left-ul-li-ul-li-sel" onclick="getSubstance($!ezs.id,'');">$!ezs.name</li>
								     #end
								</ul>
							</li>
							<li>
								<div>$!ezsColumn2.name</div>
								<ul>
								    #foreach ($ezs in $ezss2)
									<li class="yzs-help-left-ul-li-ul-li-sel" onclick="getSubstance($!ezs.id,'');">$!ezs.name</li>
								    #end
								</ul>
							</li>
							<li><div>$!ezsColumn3.name</div>
							    <ul>
								    #foreach ($ezs in $ezss3)
									<li class="yzs-help-left-ul-li-ul-li-sel" onclick="getSubstance($!ezs.id,'');">$!ezs.name</li>
								    #end
								</ul>
							
							</li>
						</ul>
					</div>
				</div>
				<div class="yzs-help-right" id="showBody">
							 <div class="yzs-help-right-tit">
								<div>联系客服</div>
								<div class="yzs-help-right-search">
									<input type="text" placeholder="输入问题关键词，如密码"/>
									<div></div>
								</div>
							</div>
							<div class="yzs-help-right-card">
								<div class="yzs-help-right-card1">
									<div>电话客服</div>
									<div>400-6666-890</div>
								</div>
								<div class="yzs-help-right-card2">
									<div>在线咨询</div>
									<div>点击咨询</div>
								</div>
								<div class="yzs-help-right-card3">
									<div>意见反馈</div>
									<div>点击反馈</div>
								</div>
							</div>
					
				</div>
			</div>
		</div>
		<div class="blank40"></div>		
	</div>
	
	$!httpInclude.include("/footer.htm") 
		<script type="text/javascript">
	new Vue({
	    el:"#theForm",
	    data:{
	    	pink:""
	    },
	    mounted:function () {
	        this.$nextTick(function () {
	            this.init();
	        })
	    },
	    filters:{
	    	formatMoney(value){
	        }
	    },
	    methods:{
	        init:function (){
	        	this.pink='$!ezsSubstance.ec.name'
	        	vm.pink='$!ezsSubstance.ec.name'
	        },
	        formatType:function(v){
	            
	        },
	        giveOrUp:function(type,value){
	        	if(type==1){
	        		jQuery.ajax({
		        		 type: "post",
		                 url: "$!webPath/giveOrUp.htm",
		                 data: {id:$!ezsSubstance.id,house:value},
		                 dataType: "json",
		                 success: function(data){
		                	 if(data.flag){
		                		 var house=data.houseStatus
		                		 if(house){
		                			 
		                		 }else{
		                			 
		                		 }
		                	 }
		                 }
		        	     
		        	 })
	        	}else if(type==2){
	        		jQuery.ajax({
		        		 type: "post",
		                 url: "$!webPath/giveOrUp.htm",
		                 data: {id:$!ezsSubstance.id,give:value},
		                 dataType: "json",
		                 success: function(data){
		                	 if(data.flag){
		                		 var give=data.give;
		                		 var giveStatus=data.giveStatus
		                		 if(giveStatus&&give==1){
		                			 $("div.yzs-analysis-con-tools").find("div span:eq(0) img").attr("src","$!webPath/resources/style/shop/default/img/icon_35.png")
		                			 $("div.yzs-analysis-con-tools").find("div span:eq(1) img").attr("src","$!webPath/resources/style/shop/default/img/icon_36.png")
		                		 }else if(giveStatus&&give==2){
		                			 $("div.yzs-analysis-con-tools").find("div span:eq(1) img").attr("src","$!webPath/resources/style/shop/default/img/icon_37.png")
		                			 $("div.yzs-analysis-con-tools").find("div span:eq(0) img").attr("src","$!webPath/resources/style/shop/default/img/icon_34.png")
		                		 }else if(!giveStatus&&give==1){
		                			 $("div.yzs-analysis-con-tools").find("div span:eq(0) img").attr("src","$!webPath/resources/style/shop/default/img/icon_34.png")
		                		 }else if(!giveStatus&&give==2){
		                			 $("div.yzs-analysis-con-tools").find("div span:eq(1) img").attr("src","$!webPath/resources/style/shop/default/img/icon_36.png")
		                		 }
		                	 }
		                 }
		        	 })
	        	}
	        	 
	        }
	    }
	});	
	var vm=new Vue({
	    el:"#pat",
	    data:{
	    	pink:""
	    },
	    mounted:function () {
	        this.$nextTick(function () {
	            this.init();
	        })
	    },
	    filters:{
	    	formatMoney(value){
	        }
	    },
	    methods:{
	        init:function (){
	        },
	        formatType:function(v){
	            
	        }
	    }
	});	
    </script>
</body>
</html>