<div class="yzs-market-item-top-pannel">
		<div class="yzs-market-item-top">
		#foreach($gc in $!gcs)
		     <div class="yzs-market-item">
				<div>$!gc.className</div>
					<div>
						#foreach($gc1 in $gc.childs)
						    <span>$!gc1.className</span>
						#end
					</div>
			</div>
		#end
		</div>
	</div>
	<script type="text/javascript">
	   $(function(){
		    $(".yzs-market-item-top-pannel").css("display","none");
		    $('.yzs-location-panner').css("margin-top","5px");
	   })
	 </script>