<div class="msg-bg"></div>
	<div class="msg-box"></div>
	<div class="yzs-top-pannel">
		<div class="yzs-top">
			<div>
			 <span><img style="margin-bottom:-13px;" src="$!webPath/resources/style/shop/default/img/icon_01.jpg"/> 手机版 <img style="margin-bottom:-13px;" src="$!webPath/resources/style/shop/default/img/icon_02.jpg"/> </span>
				#if($!user)<span>$!CommUtil.substring("$!{user.userName}",12) 您好，欢迎来访$!CommUtil.substring("$!{config.websiteName}",30)！</span>
				   <span><a href="$!webPath/wemall_logout.htm">[退出]</a> | </span>
				  #else
				    <span>您好，欢迎来访$!CommUtil.substring("$!{config.websiteName}",30)！</span>
				    <span><a href="$!webPath/user/login.htm">请登录</a>| </span>
					<span><a href="$!webPath/register.htm">免费注册</a></span>
				#end 
				<span style="color:#00897c;"><img style="margin-bottom:-13px;" src="$!webPath/resources/style/shop/default/img/icon_03.jpg"> 联系客服</span></div>
			<div>
				<nav>
					<ul>
				        <li><a href="#">采购单 <img style="margin-bottom:-13px;" src="$!webPath/resources/style/shop/default/img/icon_02.jpg"/></a> |
					         <ul class="cgd">
					             <li><a href="#">商品名称商品名称</a><span>￥110</span></li>
					             <li><a href="#">商品名称商品</a><span>￥110</span></li>
					             <li><a href="#">商品名称商品名称</a><span>￥110</span></li>
					             <li><a href="#">商品名称</a><span>￥110</span></li>
					             <li>共<i>4</i>件商品，总计￥440 <a href="" style="float:right; padding:3px 5px; border-radius:2px;background:#FC942D;">进入采购单</a></li>
					         </ul>
				        </li>
				        <li><a href="#">我的订单<i>(5)</i>  <img style="margin-bottom:-13px;" src="$!webPath/resources/style/shop/default/img/icon_02.jpg"/></a> | 
					         <ul class="wddd">
					             <li><a href="#">采购样品订单</a><span>（0）</span></li>
					             <li><a href="#">采购货品订单</a><span>（0）</span></li>
					             <li><a href="#">销售样品订单</a><span>（0）</span></li>
					             <li><a href="#">销售货品订单</a><span>（0）</span></li>
					         </ul>
				        </li>
				        <li><a href="#">会员中心 <img style="margin-bottom:-13px;" src="$!webPath/resources/style/shop/default/img/icon_02.jpg"/><!-- $!webPath/buyer/account.htm --></a> | 
				             <ul class="hyzx">
				                 <li><a href="#">采购商中心</a></li><!-- $!webPath/buyer/index.htm -->
				                 <li><a href="$!webPath/seller/index.htm">供应商中心</a></li>
				            </ul>
				     	</li>
				     	<li><a href="#">网站导航 <img style="margin-bottom:-13px;" src="$!webPath/resources/style/shop/default/img/icon_02.jpg"/></a> | 
					         <ul class="hyzx">
					             <li><a href="#">自营商城</a></li>
					             <li><a href="#">价格行情</a></li>
					             <li><a href="#">物流运输</a></li>
					             <li><a href="#">金融服务</a></li>
					             <li><a href="#">行业资讯</a></li>
					         </ul>
				        </li>
				        <li><a href="#" style="margin-top:3px;">帮助中心</a></li><!-- $!webPath/articlelist_help.htm -->
				    </ul>
			    </nav>
			</div>
		</div>
	</div>
	<script type="text/javascript">
	jQuery(document).ready(function(){
		
	});
	</script>